@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-dark;
  }
}

/* Custom animations */
@layer utilities {
  .animate-delay-100 {
    animation-delay: 100ms;
  }

  .animate-delay-200 {
    animation-delay: 200ms;
  }

  .animate-delay-300 {
    animation-delay: 300ms;
  }
}
